body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    background-color: #fefdfd;
    display: flex;
    align-items: stretch;
}

table {
    margin: 14px auto;
    padding: 7vh 0;
    border-collapse: collapse;
}
th {
    background-color: #1B19CD;  
    color: #fff;  
}
table,
td,
th {
    border: 1px solid #9c9c9c;
}
.calendar {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.calendar .ctitle {
    display: none;
}
.calendar .theme-portrait {
    display: none;
}
.calendar thead tr:first-child th div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar h4 {
    margin: 0;
    padding: 0.8vw 0 0.2vw;
    font-size: 1.4vw;
    font-weight: 300;
}
.calendar h3 {
    margin: 0;
    padding: 0 2vw;
    font-size: 2vw;
    font-weight: 700;
    display: inline-block;
}
.calendar .weekday {
    font-size: 1.7vw;
    font-weight: 300;
    padding: 8px 0 5px;
    border-bottom: 1px solid white !important;
}
.calendar tbody td {
    height: 5.2vw;
    width: 5.2vw;
    font-size: 0.8vw;
    font-weight: 600;
    vertical-align: top;
    padding: 0.5vw;
    transition: font-size 0.6s ease;
}
.calendar tbody td:hover {
    font-size: 1.2vw;
}
