.sidebar {
    background-color: #1B19cd;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    height: 100vh;
    width: 34%;
    text-align: center;
    color: #fff;
}
.sbtitle {
    font-size: 7vh;
    color:#7c7EFB;
    padding-top: 9vh;
}
.sbyear {
    font-size: 6vh;
    margin: 4vh 0;
}
.sbtoday {
    font-size: 7vh;
    margin: 4vh 0;
}
.sbtheme {
    font-size: 2vh;
    margin: 4vh 0 ;
}
.sbtheme button{
    /* background-color:#FEFDFD; */
    /* opacity:0.4; */
    color: #FFFfff;
    border: 2px solid #FEFDFD;
    padding: 1.8vh 4.2vh;
    border-radius: 500px;
    /* outline:none; */
    font-size: 2.5vh;
    background-color:transparent;
    
}
.sbhr {
    color: #7c7EFB;
}