@charset "utf-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #767676;
    background-image: url("./images1/cute_design_bg.png");
    background-repeat: repeat-x;
    margin: 28px, 0px, 0px, 0px;
}
#header {
    background-image: url(images/header.gif);
    background-repeat: no-repeat;
    height: 146px;
    width: 800px;
}
#content {
    background-image: url(images/content_bg.gif);
    background-repeat: repeat-y;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#footer {
    background-image: url(images/footer.gif);
    background-repeat: no-repeat;
    height: 52px;
    width: 800px;
}
#contentL {
    width: 245px;
}
#contentR {
    width: 555px;
}
