@charset "utf-8";
#header {
	background-image: url(images1/header_bg.jpg);
	background-repeat: no-repeat;
	height: 129px;
	width: 800px;
}
#content {
	background-image: url(images1/content_bg.jpg);
	background-repeat: repeat-y;
	width: 800px;
	display          : flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items:stretch;
	align-content:stretch;
}
#footer {
	background-image: url(images1/footer_bg.jpg);
	background-repeat: no-repeat;
	height: 52px;
	width: 800px;
}
#contentL {
	background-image: url("./images1//menu_bg.jpg");
	height: 302px;
	width: 180px;
	margin-left: 40px;
	padding-left: 13px;
}
#contentM {
	width: 450px;
	margin-left: 10px;
}
#contentR {
	width: 105px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #767676;
	background-image: url("./images1/cute_design_bg.png");
	background-repeat: repeat-x;
	margin-top: 28px;
}

.contentNew {
	/* margin-right: 55px;;
	margin-left: 13px; */
}

.subttle {
	color: #c7ab76;
	font-size: 14px;
	font-weight: bold;
}

#contentR p a:hover {
	color:aquamarine;
}

#contentR p a:active {
	background-color: blueviolet;
}

#header img {
	margin-left: 45px;
	margin-top: 10px;
}